.blog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center; 
}

.blog-publication {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid $tertiary-color;
    background-color: $quaternary-color;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 10px;
    position: relative;
    h1 {
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
        margin: 20px 0; 
    }
    .blog-picture {
        border-radius: 20px;
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.blog-publication {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name:show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
}
